<div class="container">
    <h1>Bill Form</h1>
    <form #billForm="ngForm">
        <div class="form-group">
            <label for="name">Description</label>
            <input type="text" class="form-control" id="description" name="description" #description="ngModel" [(ngModel)]="model.description" required>
            <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                Description is required
            </div>
        </div>

        <div class="form-group">
            <label for="email">Amount</label>
            <input type="text" class="form-control" id="amount" name="amount" #amount="ngModel" [(ngModel)]="model.amount" required>
            <div [hidden]="amount.valid || amount.pristine" class="alert alert-danger">
                Amount is required
            </div>
        </div>
        <div class="form-group">
            <label for="email">Select friends</label>
            <select [(ngModel)]="model.friends" name="fieldStatus" multiple>
          <option *ngFor="let friend of friendsList" [ngValue]="friend">{{friend.name}}</option>
        </select>
        </div>

        <button type="button" class="btn btn-success" (click)="newBill(); billForm.reset()">Add bill</button>

    </form>

    <h1>List of bills</h1>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let bill of billsList">
            <b>id: </b>{{bill.id}}<br>
            <b>description: </b>{{bill.description}}<br>
            <b>amount: </b>{{bill.amount}}<br>
            <b>Friends added to this bill: </b><br>
            <hr>
            <div *ngFor="let friend of bill.friends">
                {{friend.name}} &nbsp; &nbsp; {{friend.email}}
            </div>
        </li>
    </ul>
</div>